{% extends "layouts/auth-layout.html" %}
{% load static %}
{% block title %}
    Signup | DeepFx Studio
{% endblock title %}
{% block pageHeading %}
    <p class="text-3xl font-bold text-white">Sign Up</p>
{% endblock pageHeading %}
{% block pageInstruction %}
    <p class="mt-2 mb-4 text-zinc-400">Create an account to get started. Fill in your details below!</p>
{% endblock pageInstruction %}
{% block form %}
    <div>
        <form class="mb-4" action={% url "user_auth:signup_view" %} method="post">
            {% csrf_token %}
            <div class="grid gap-4">
                <div>
                    <label class="text-white mb-2" for="username">Username</label>
                    <input class="w-full h-12 rounded-lg border border-gray-700 bg-gray-800 my-1 px-4 py-1 text-sm text-white placeholder:text-zinc-400 focus:outline-none"
                           id="username"
                           placeholder="deepfx_studio"
                           type="text"
                           name="username"
                           required />
                </div>
                <div>
                    <label class="text-white mb-2" for="email">Email</label>
                    <input class="w-full h-12 rounded-lg border border-gray-700 bg-gray-800 my-1 px-4 py-1 text-sm text-white placeholder:text-zinc-400 focus:outline-none"
                           id="email"
                           placeholder="name@example.com"
                           type="email"
                           name="email"
                           required />
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label class="text-white mb-2" for="password">Password</label>
                        <input class="w-full h-12 rounded-lg border border-gray-700 bg-gray-800 my-1 px-4 py-1 text-sm text-white placeholder:text-zinc-400 focus:outline-none"
                               id="password"
                               placeholder="Password"
                               type="password"
                               name="password"
                               required />
                    </div>
                    <div>
                        <label class="text-white mb-2" for="confirm-password">Confirm Password</label>
                        <input class="w-full h-12 rounded-lg border border-gray-700 bg-gray-800 my-1 px-4 py-1 text-sm text-white placeholder:text-zinc-400 focus:outline-none"
                               id="confirm-password"
                               type="password"
                               name="confirm-password"
                               required />
                    </div>
                </div>
            </div>
            <button class="mt-4 w-full h-10 px-4 text-sm font-medium text-black bg-white rounded-lg hover:bg-gray-200 hover:border hover:border-white hover:rounded-lg transition"
                    type="submit">Sign Up</button>
        </form>
        <p class="font-light text-white text-sm mt-3">
            <a href="{% url "account_reset_password" %}"
               class="font-bold hover:underline">Forgot password?</a>
        </p>
        <p class="font-light text-white text-sm mb-3 md:mb-0">
            Already has an account?
            <a href="{% url "account_login" %}" class="font-bold hover:underline">Sign in</a>
        </p>
    </div>
{% endblock form %}
{% block animation %}
    <div class="w-[60%] h-screen relative hidden lg:block">
        <!-- Background Video -->
        <video autoplay muted loop playsinline class="absolute inset-0 object-cover w-full h-full z-0">
            <source src="{% static 'videos/video.mp4' %}" type="video/mp4" />
            Your browser does not support the video tag.
        </video>

        <!-- Text Overlay -->
        <div class="absolute inset-0 flex items-center justify-center z-10">
            <div class="text-center fade-in-text">
                <h1 class="text-3xl font-extrabold text-white mx-10">Join the</h1>
                <h1 class="text-7xl font-extrabold text-white mx-10">Creative Adventure</h1>
            </div>
        </div>
    </div>

{% endblock animation %}

