*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    font-family: 'poppins';
}
.back{
    height: 40px;
    width: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.back i{
    font-size: 25px;
    color: aliceblue;
    background: transparent;
}
.back:hover{
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: rgb(81, 80, 80);
}
.heading img{
    /* background-color: black; */
    margin-top: 20px;
    margin-left: 48%;
    height: 60px;
    /* width: 60px; */
}
.tool-name{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tool-name p{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-top: -19px;
}
.tool-desc{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.tool-desc p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: -9px;
}
.main-area{
    margin-top: 40px;
    margin-left: 20%;
    width: 60%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.video{
    height: 100%;
    width: 100%;
    border: 2px solid white;
}
.upload{
    margin-left: 20px;
    height: 100%;
    width: 100%;
}
.drag-and-drop{
    border: 2px solid white;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hide{
    display: none;
}
.drag-and-drop i{
    display: block;
    font-size: 30px;
    margin-left: 120px;
}
.preview{
    /* position: absolute; */
    height: 70%;
    width: 100%;
    z-index: 2;
    top: 280px;
    left: 795px;
}
.example{
    /* height: 10%; */
    text-align: center;
}
.example p{
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 15px;
}
.example p i{
    margin-right: 10px;
    /* font-size: 20px; */
    height: 20px;
}
.example-grid{
    /* margin-top: 20px; */
    height: 20%;
    width: 100%;
    border: 2px solid white; 
    border-radius: 20px;
    background-color: #2b2a2a;
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  /* grid-gap: 10px; */
  grid-auto-rows: 10px;
  /* margin-top: 50px; */
}
.grid{
    margin:20px 20px;
    height: 90px;
    border: 1px solid white;
  border-radius: 20px;

}