{% extends "layouts/base-layout.html" %}
{% load static %}
{% block metadata %}
    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Revive your black-and-white photos with DeepFX Studio's AI-powered colorization. Transform old memories into vibrant, lifelike images effortlessly." />
    <meta name="keywords"
          content="AI Colorization, AI Image Enhancement, Black and White to Color, DeepFX Studio, AI Photo Restoration, Image Processing, Color Restoration" />
    <meta name="author" content="DeepFX Studio Team" />
{% endblock metadata %}
{% block title %}
    AI Colorization - DeepFX Studio
{% endblock title %}
{% block body %}
    <div class="bg-gradient-to-b from-gray-900 to-black text-aliceblue font-poppins min-h-screen pb-20">
        <div class="flex justify-center items-center pt-10">
            <img width=""
                 height=""
                 class="mx-auto w-12"
                 src="{% static 'images/ai_colorization.svg' %}"
                 alt="AI Colorization Logo">
        </div>
        <div class="heading text-center">
            <div class="tool-name pt-10">
                <p class="text-2xl md:text-5xl font-bold text-white" id="tool-name">AI Colorization</p>
            </div>
            <div class="tool-desc my-4">
                <p class="text-sm md:text-lg text-gray-300" id="tool-desc">
                    Convert black-and-white photos into stunning, realistic color images with AI-powered precision.
                </p>
            </div>
        </div>
        <div id="form-section"
             class="flex md:flex-row flex-col md:w-[60vw] md:mx-auto justify-center items-center flex-wrap m-10 gap-10">
            <!-- Diff Section -->
            <div class="relative w-full md:w-[50%] h-full flex items-center justify-center">
                <a href="data:image/png;base64,{{ processed_image }}"
                   download="processed_image.png"
                   class="btn absolute top-2 left-2 bg-black cursor-pointer z-20">
                    <img width=""
                         height=""
                         alt="download-icon"
                         src="{% static 'images/download.svg' %}"
                         class="w-4 h-4" />
                </a>
                <div class="diff aspect-[4/3] w-full h-full border-2 border-gray-500 rounded-xl shadow-lg">
                    <div class="diff-item-1">
                        <img height=""
                             width=""
                             alt="back_white_image"
                             src="{% static 'images/color_img_bw.jpg' %}"
                             class="object-contain rounded-xl" />
                    </div>
                    <div class="diff-item-2">
                        <img height=""
                             width=""
                             alt="color_image"
                             src="{% static 'images/color_img.jpg' %}"
                             class="object-contain rounded-xl" />
                    </div>
                    <div class="diff-resizer"></div>
                </div>
            </div>
            <!-- Upload Section -->
            <form id="upload-form"
                  action="{% url 'background-remover:background_remover_api' %}"
                  method="post"
                  enctype="multipart/form-data"
                  class="w-full md:w-[35%] flex flex-col justify-between gap-6">
                {% csrf_token %}
                <!-- Upload Box -->
                <div id="uploadBox"
                     class="flex flex-col items-center justify-center rounded-lg p-3 h-[20] md:h-56 border-dashed border-gray-600 border-2">
                    <img height=""
                         width=""
                         id="upload_image"
                         src="{% static 'images/upload.svg' %}"
                         class="text-gray-500 m-3 w-8 h-8"
                         alt="upload" />
                    <p id="upload_container"
                       class="text-center text-sm text-gray-300 mb-4 font-light">
                        Drag & Drop Your Image Here
                        <br />
                        Or Click to Upload
                    </p>
                </div>
                <input hidden
                       id="file_input"
                       type="file"
                       name="file"
                       accept=".jpg, .jpeg, .png">
                <!-- Submit Button -->
                <button id="generateBtn" type="submit" class="btn btn-primary w-full mt-1">
                    <i class="fa-solid fa-magic mr-2"></i> Generate Colorized Image
                </button>
            </form>
        </div>
        {% if error %}
            <div id="message-box"
                 class="absolute top-5 left-5 right-5 md:left-auto md:top-10 md:right-10 animate-appear">
                {% component "toast" title="Error Occurred" content="{{ error }}" %}{% endcomponent %}
            </div>
        {% endif %}
    </div>
{% endblock body %}
