{% extends "layouts/base-layout.html" %}
{% load static %}
{% block metadata %}
<meta name="description"
content="Transform your images into stunning artwork with DeepFX Studio’s AI-powered Artistic Image Creator. Blend your content image with the style of your choice effortlessly!" />
<meta name="keywords"
content="AI Artistic Image Creator, Style Transfer, DeepFX Studio, AI Image Tools, Artistic Transformation, Image Blending, Content Style Generator, AI Art" />
<meta name="author" content="DeepFX Studio Team" />
<meta property="og:title" content="AI Artistic Image Creator - DeepFX Studio" />
<meta property="og:description" content="Create breathtaking artwork by blending your images with AI-powered style transfer. Transform your content into a masterpiece in seconds with DeepFX Studio." />
<meta property="og:image" content="{% static 'images/og-artistic-image-creator.jpg' %}" />
<meta property="og:url" content="https://www.deepfxstudio.com/artistic-image-creator" />
{% endblock metadata %}
{% block title %}
    Artistic Image Creator - DeepFX Studio
{% endblock title %}
{% block body %}
<div class="bg-gradient-to-b from-gray-900 to-black text-aliceblue font-poppins min-h-screen pb-20">
    <div class="p-10 cursor-pointer">    
        <i class="fa-solid fa-arrow-left text-xl text-aliceblue"></i>
    </div>
    <div class="flex justify-center items-center">
        <img class="mx-auto w-12" src="{% static 'images/bg-remove.jpg' %}" >
    </div>

    <div class="heading text-center">
        <div class="tool-name pt-10">
            <p class="text-2xl md:text-5xl font-bold text-white" id="tool-name">Artistic Image Creator</p>
        </div>
        <div class="tool-desc my-4">
            <p class="text-sm md:text-lg text-gray-300" id="tool-desc">Create stunning artwork by blending your images with AI-powered style transfer. Transform your content into a masterpiece with ease!</p>
        </div>
    </div>

    <div id="form-section" class="flex md:flex-row flex-col md:w-[60vw] md:mx-auto justify-center items-center flex-wrap m-10 gap-10">
        
    </div>
    {% if processed_image %}
        <div class="flex flex-col mx-auto w-full text-center my-20">
            <p>Processed Image Path: {{ processed_image }}</p>
            <img class="aspect-square rounded-md" src="data:image/png;base64, {{ processed_image }}" alt="Processed Image" />
        <div>
    {% endif %}
</div>
<script src="{% static "./scripts/artistic_image_creator.js" %}"></script>
{% endblock body %}


