{% extends "layouts/base-layout.html" %}
{% load static %}
{% block metadata %}
    <meta name="description"
          content="Remove backgrounds from images instantly with DeepFX Studio’s powerful AI-driven Background Remover tool. Try it now to create stunning visuals with clean, professional results." />
    <meta name="keywords"
          content="AI Background Remover, Remove Image Background, DeepFX Studio, Image Editing, Professional Background Removal, AI Image Tools, Instant Background Removal, Image Manipulation" />
    <meta name="author" content="DeepFX Studio Team" />
    <meta property="og:title" content="AI Background Remover - DeepFX Studio" />
    <meta property="og:description"
          content="Remove backgrounds from images instantly with DeepFX Studio’s powerful AI-driven Background Remover tool. Try it now for professional results." />
{% endblock metadata %}
{% block title %}
    AI Background Remover - DeepFX Studio | Instant Background Removal Tool
{% endblock title %}
{% block body %}
    <div id="main-section"
         class="bg-gradient-to-b from-gray-900 to-black text-aliceblue font-poppins min-h-screen pb-20">
        <div class="flex justify-center items-center pt-10">
            <img height=""
                 width=""
                 alt="background image"
                 class="mx-auto w-12"
                 src="{% static 'images/bg-remove.jpg' %}">
        </div>
        <div class="heading text-center">
            <div class="tool-name pt-10">
                <p class="text-2xl md:text-5xl font-bold text-white" id="tool-name">Background Remover</p>
            </div>
            <div class="tool-desc my-4">
                <p class="text-sm md:text-lg text-gray-300" id="tool-desc">
                    Experience flawless background removal in seconds with AI precision
                </p>
            </div>
        </div>
        <div id="form-section"
             class="flex md:flex-row flex-col md:w-[60vw] md:mx-auto justify-center items-center flex-wrap m-10 gap-10">
            <!-- Video Section -->
            <div class="w-full md:w-[45%] h-full flex items-center justify-center">
                <video class="w-full h-full object-cover rounded-lg"
                       src="{% static 'videos/remove_background.mp4' %}"
                       autoplay
                       loop
                       muted>
                </video>
            </div>
            <!-- Upload Section -->
            <form id="upload-form"
                  action="{% url 'background-remover:process' %}"
                  method="POST"
                  enctype="multipart/form-data"
                  class="w-full md:w-[40%] flex flex-col justify-between gap-6">
                {% csrf_token %}
                <!-- Upload Box -->
                <div id="uploadBox"
                     class="flex flex-col items-center justify-center rounded-lg p-3 h-[20] md:h-56 border-dashed border-gray-600 border-2">
                    <img height=""
                         width=""
                         id="upload_image"
                         src="{% static 'images/upload.svg' %}"
                         class="text-gray-500 m-3 w-8 h-8"
                         alt="upload" />
                    <p id="upload_container"
                       class="text-center text-sm text-gray-300 mb-4 font-light">
                        Drop Image Here
                        <br />
                        Click to Upload
                    </p>
                </div>
                <input hidden
                       id="file_input"
                       type="file"
                       name="file"
                       accept=".jpg, .jpeg, .png">
                <!-- Thumbnails -->
                <div class="flex justify-center gap-5">
                    <img height=""
                         width=""
                         class="w-20 h-20 rounded-md border border-gray-600 object-cover"
                         src="{% static 'images/img1.jpg' %}"
                         alt="Sample 1">
                    <img height=""
                         width=""
                         class="w-20 h-20 rounded-md border border-gray-600 object-cover"
                         src="{% static 'images/img2.jpg' %}"
                         alt="Sample 2">
                    <img height=""
                         width=""
                         class="w-20 h-20 rounded-md border border-gray-600 object-cover"
                         src="{% static 'images/img3.jpg' %}"
                         alt="Sample 3">
                    <img height=""
                         width=""
                         class="w-20 h-20 rounded-md border border-gray-600 object-cover"
                         src="{% static 'images/img4.jpg' %}"
                         alt="Sample 4">
                </div>
                <button id="generateBtn" type="submit" class="btn w-full cursor-pointer">
                    <i class="fa-solid fa-palette"></i>
                    GENERATE
                </button>
            </form>
        </div>
        {% if processed_image %}
            <div class="processed_image_content flex justify-center items-center flex-col">
                <div class="relative">
                    <button onclick="my_modal_4.showModal()"
                            class="btn absolute top-2 left-2 border rounded-full bg-black cursor-pointer">
                        <i class="fa-solid fa-arrows-up-down-left-right fa-lg bg-white"></i>
                    </button>
                    <dialog id="my_modal_4" class="modal">
                        <div class="modal-box w-fit max-w-5xl">
                            <img height=""
                                 width=""
                                 src="data:image/png;base64,{{ processed_image }}"
                                 alt="Processed Image"
                                 class="mb-4 rounded-md border-2 border-gray-300 shadow-lg max-w-xs md:max-w-md bg-[url('https://png.pngtree.com/thumb_back/fw800/background/20220703/pngtree-gray-and-white-checkered-illustration-perfect-for-a-background-photo-image_32339476.jpg')] bg-cover bg-cente">
                            <div class="modal-action">
                                <form method="dialog">
                                    <button class="btn">Close</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                    <img src="data:image/png;base64,{{ processed_image }}"
                         alt="Processed Image"
                         class="mb-4 rounded-md border-2 border-gray-300 shadow-lg max-w-xs md:max-w-md bg-[url('https://png.pngtree.com/thumb_back/fw800/background/20220703/pngtree-gray-and-white-checkered-illustration-perfect-for-a-background-photo-image_32339476.jpg')] bg-cover bg-cente"
                         height=""
                         width="">
                </div>
                <div class="button-group flex gap-4">
                    <a href="data:image/png;base64,{{ processed_image }}"
                       download="processed_image.png"
                       class="btn btn-wide text-lg rounded-md px-4 py-2 bg-blue-500 text-white hover:bg-blue-600">
                        Download
                    </a>
                </div>
            </div>
        {% endif %}
        {% if error %}
            <div id="message-box"
                 class="absolute top-5 left-5 right-5 md:left-auto md:top-10 md:right-10 animate-appear">
                {% component "toast" title="Error Occured" content="{{ error }}" %}{% endcomponent %}
            </div>
        {% endif %}
    </div>
    <script src="{% static "./scripts/bg-remover.js" %}"></script>
{% endblock body %}
