{% extends "layouts/base-layout.html" %}
{% load static %}
{% block title %}
    Forgot Password | DeepFX Studio
{% endblock title %}
{% block body %}
    <section class="bg-black min-h-screen flex items-center justify-center">
        <div class="md:w-1/2 sm:w-full max-w-md px-8 py-6 rounded-lg shadow-lg">
            <a href="{% url 'website:index_view' %}"
               class="flex items-center mb-6 text-2xl font-semibold text-white">
                <img height="40px"
                     width="40px"
                     src="{% static 'images/logo.png' %}"
                     alt="logo"
                     class="mr-2">
                DeepFX Studio
            </a>
            <h2 class="mb-5 text-lg font-bold leading-tight text-white">Forgot Password</h2>
            <form class="space-y-6 flex flex-col" action="#">
                <!-- Email Field -->
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-300">Your email</label>
                    <input type="email"
                           name="email"
                           id="email"
                           class="w-full p-2.5 rounded-lg border border-gray-600 bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-white"
                           placeholder="name@company.com"
                           required>
                </div>
                <!-- Submit Button -->
                <div class="w-full">
                    <button type="submit"
                            class="w-full py-4 text-sm font-semibold text-white bg-transparent border hover:text-black hover:bg-white transition-colors duration-300 ease-in-out rounded-md">
                        Send Email
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock body %}
{% block banner %}
{% endblock banner %}
