{% extends "layouts/base-layout.html" %}
{% load static %}
{% block metadata %}
    <!-- SEO Meta Tags -->
    <meta name="description"
          content="DeepFX Studio - Advanced AI tools for image manipulation including background removal, colorization, and deepfake effects." />
    <meta name="keywords"
          content="DeepFX Studio, AI Image Tools, Background Removal, AI-powered Editing, Deepfake, Colorization" />
    <meta name="author" content="DeepFX Studio Team" />
{% endblock metadata %}
{% block title %}
    Text To Image - DeepFX Studio
{% endblock title %}
{% block body %}
    <div class="flex h-screen bg-gray-950 text-gray-200">
        <!-- Sidebar -->
        <aside class="hidden md:block w-1/4 bg-[#191e24] p-4 border-r border-gray-700">
            <div class="flex items-center bg-white rounded-md p-3 mb-8">
                <!-- Logo -->
                <img src="{% static 'images/logo.png' %}"
                     alt="logo"
                     width="50px"
                     height="50px" />
                <!-- Title -->
                <h1 class="text-xl font-semibold text-neutral">DeepFX Studio</h1>
            </div>
            <h2 class="text-xl font-bold mb-4">Settings</h2>
            <div class="card mb-3"
                 style="background-image: url({% static 'images/hero-image.webp' %})">
                <div class="card-body backdrop-blur-xl rounded-2xl p-4">
                    <h5 class="card-title text-base flex flex-col ">
                        <span class="badge badge-outline text-gray-700">Model</span>
                        <select class="select w-full max-w-xs backdrop-blur-xl bg-gray-900">
                            <option disabled selected>SD 3.5</option>
                            {% comment %} <option>Homer</option>
                            <option>Marge</option>
                            <option>Bart</option>
                            <option>Lisa</option>
                            <option>Maggie</option> {% endcomment %}
                        </select>
                    </h5>
                </div>
            </div>
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body flex gap-5">
                    <section class="flex flex-col gap-2">
                        <h5 class="card-title text-base">
                            Generation Mode
                            <div class="tooltip"
                                 data-tip="The standard mode balances speed and quality, while the quality mode generates more refined images (SDXL for Img2Img does not yet support quality mode).">
                                <img src="{% static 'images/i-icon.svg' %}"
                                     alt="i-icon"
                                     width="15px"
                                     height="15px" />
                            </div>
                        </h5>
                        <div class="w-full flex gap-2">
                            <button type="submit" class="btn btn-md btn-neutral w-[50%]">Standard</button>
                            <button type="submit" class="btn btn-md btn-neutral w-[50%]">
                                <img src="{% static 'images/meteor.svg' %}"
                                     alt=""
                                     width="20px"
                                     height="20px">
                                Quality
                            </button>
                        </div>
                    </section>
                    <section class="flex flex-col gap-2">
                        <h5 class="card-title text-base">Image Settings</h5>
                        <div class="w-fit flex flex-wrap gap-1">
                            <button class="btn btn-sm btn-outline w-fit">2:3</button>
                            <button class="btn btn-sm btn-outline w-fit">1:1</button>
                            <button class="btn btn-sm btn-outline w-fit">9:16</button>
                            <button class="btn btn-sm btn-outline w-fit">4:3</button>
                            <button class="btn btn-sm btn-outline w-fit">more</button>
                        </div>
                    </section>
                    <section class="flex flex-col gap-2">
                        <h5 class="card-title text-base">Image Quality</h5>
                        <div class="w-full flex flex-wrap gap-1">
                            <button class="btn w-[23%]">1</button>
                            <button class="btn w-[23%]">2</button>
                            <button class="btn w-[23%]">3</button>
                            <button class="btn w-[23%]">4</button>
                        </div>
                    </section>
                </div>
            </div>
            {% comment %} Setting For AI Model {% endcomment %}
        </aside>
        <!-- Collapsible Sidebar for Smaller Screens -->
        <div id="mobileSidebar"
             class="hidden fixed inset-0 bg-black bg-opacity-50 z-30">
            <div class="bg-[#1a1a1a] w-3/4 h-full p-4">
                <div class="flex flex-row justify-between">
                    <h2 class="text-xl font-bold mb-4">Settings</h2>
                    <button class="btn btn-circle text-white bg-gray-800 rounded"
                            onclick="toggleSidebar()">
                        <img class="w-[15px] h-[15px]"
                             src="{% static 'images/close.svg' %}"
                             alt="close-btn"
                             height=""
                             width="" />
                    </button>
                </div>
                {% comment %} Setting For AI Model in Small Screen i.e Mobile Mode {% endcomment %}
            </div>
        </div>
        <!-- Main Content -->
        <section class="flex-1 p-4 md:p-6">
            <!-- Header -->
            <header class="flex h-[12%] items-center justify-between p-4 bg-[#191e24] rounded mb-4">
                <div class="md:hidden bg-[#191e24]">
                    <button class="text-white bg-orange-500 rounded p-2"
                            onclick="toggleSidebar()">
                        <img src="{% static 'images/menu.svg' %}"
                             alt="menu-btn"
                             width="18px"
                             height="18px" />
                    </button>
                </div>
                <div class="flex flex-col justify-start">
                    <span class="text-xs">Project Name - f308cd44</span>
                    <h1 class="text-xl md:text-2xl font-bold">Untitled</h1>
                </div>
                <div class="flex items-center gap-4">
                    <div class="avatar w-8 md:w-10 h-8 md:h-10 rounded-full bg-gray-700 flex items-center justify-center">
                        <span>{{ user.first_name|slice:":1" }}{{ user.last_name|slice:":1" }}</</span>
                    </div>
                </div>
            </header>
            <!-- Image Manipulation Area -->
            <section class="h-[89%] w-full flex flex-col justify-start items-center bg-[#191e24] rounded-lg shadow-lg p-4">
                <form class="w-full flex gap-2">
                    <input type="text"
                           placeholder="Enter Your Prompt"
                           class="input input-bordered input-md w-full" />
                    <button type="submit" class="btn btn-outline">Generate</button>
                </form>
            </section>
        </section>
    </div>
{% endblock body %}
{% block banner %}
{% endblock banner %}
