{% extends 'layouts/base-layout.html' %}
{% load static %}
{% block metadata %}
    <meta name="description"
          content="Explore the DeepFX Studio dashboard showcasing cutting-edge AI-powered image manipulation tools and past projects, including colorization, background removal, deepfake effects, and more." />
    <meta name="keywords"
          content="DeepFX Studio, AI Image Tools, Image Manipulation, Dashboard, Projects, Background Removal, Colorization, Deepfake, AI-powered tools, Image Enhancements" />
    <meta name="author" content="DeepFX Studio Team" />
{% endblock %}
{% block title %}Dashboard - DeepFX Studio | Explore Our Projects &amp; AI Image Tools{% endblock %}
{% block body %}
    <div class="drawer lg:drawer-open bg-gradient-to-br from-gray-950 to-gray-900 scrollbar-thin scrollbar-thumb-indigo-500 scrollbar-track-transparent">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col p-6 md:p-10">
            <!-- Page content here -->
            <label for="my-drawer-2"
                   class="btn btn-ghost drawer-button lg:hidden absolute top-6 right-6 z-50 hover:bg-gray-800">
                <img src="{% static 'images/menu.svg' %}" alt="menu" class="w-5 h-5" />
            </label>
            <div class="relative h-fit flex flex-col">
                {% block dashboard %}{% endblock %}
            </div>
        </div>
        <div class="drawer-side">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="menu bg-gray-900 text-base-content min-h-full w-80 shadow-xl border-r border-gray-800 p-4">
                <!-- Sidebar content -->
                <div class="flex gap-4 items-center p-4 mb-8 bg-gradient-to-r from-gray-600/20 to-gray-600/20 rounded-xl border border-gray-500/30">
                    <!-- Logo -->
                    <div class="relative w-14 h-14 flex items-center justify-center">
                        <div class="absolute inset-0 bg-gradient-to-br from-gray-500 to-gray-600 rounded-lg opacity-70 blur-md"></div>
                        <img src="{% static 'images/logo.png' %}"
                             alt="logo"
                             class="w-12 h-12 relative z-10" />
                    </div>
                    <!-- Title -->
                    <h1 class="text-2xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-gray-400 to-gray-500">
                        DeepFX Studio
                    </h1>
                </div>
                <div class="my-6 space-y-1">
                    {% url 'dashboard:dashboard_view' as dashboard_url %}
                    <a href="{{ dashboard_url }}"
                       class="flex items-center gap-3 p-3 rounded-lg {% if request.path == dashboard_url %}  bg-gray-600 text-white  {% else %}  text-gray-300 hover:bg-gray-800  {% endif %} transition-all duration-300">
                        <div class="w-8 h-8 flex items-center justify-center">
                            <img src="{% static 'images/home.svg' %}"
                                 alt="home-icon"
                                 class="w-5 h-5 {% if request.path == dashboard_url %}brightness-200{% endif %}" />
                        </div>
                        <span class="font-medium">Dashboard</span>
                    </a>
                    {% url 'projects' as projects_url %}
                    <a href="{{ projects_url|default:'#' }}"
                       class="flex items-center gap-3 p-3 rounded-lg {% if request.path == projects_url %}  bg-indigo-600 text-white  {% else %}  text-gray-300 hover:bg-gray-800  {% endif %} transition-all duration-300">
                        <div class="w-8 h-8 flex items-center justify-center">
                            <img src="{% static 'images/border-all.svg' %}"
                                 alt="all-projects icon"
                                 class="w-5 h-5 {% if request.path == projects_url %}brightness-200{% endif %}" />
                        </div>
                        <span class="font-medium">History</span>
                    </a>
                    {% url 'profile' as profile_url %}
                    <a href="{{ profile_url|default:'#' }}"
                       class="flex items-center gap-3 p-3 rounded-lg {% if request.path == profile_url %}  bg-indigo-600 text-white  {% else %}  text-gray-300 hover:bg-gray-800  {% endif %} transition-all duration-300">
                        <div class="w-8 h-8 flex items-center justify-center">
                            <img src="{% static 'images/pen-to-square.svg' %}"
                                 alt="edit icon"
                                 class="w-5 h-5 {% if request.path == profile_url %}brightness-200{% endif %}" />
                        </div>
                        <span class="font-medium">Settings</span>
                    </a>
                </div>
                <div class="mt-auto border-t border-gray-800 pt-6">
                    <div class="flex items-center gap-4 p-4 bg-gradient-to-r from-gray-800 to-gray-900 rounded-lg mb-2">
                        <div class="avatar">
                            <div class="w-12 h-12 rounded-full overflow-hidden border-2 border-indigo-500 shadow-lg shadow-indigo-500/20">
                                <img src="https://avatar.iran.liara.run/public"
                                     alt="profile"
                                     class="w-full h-full object-cover" />
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <span class="font-bold text-white">
                                {% block user %}{{ user }}{% endblock %}
                            </span>
                            <span class="text-sm text-gray-400 truncate max-w-[180px]">
                                {% block email %}email@mail.com{% endblock %}
                            </span>
                        </div>
                    </div>
                    <a href="{% url 'account_logout' %}"
                       class="flex items-center justify-center w-full gap-2 p-3 mt-2 rounded-lg text-gray-300 hover:bg-red-600/20 hover:text-red-400 transition-all duration-300 border border-transparent hover:border-red-500/30">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                        </svg>
                        <span class="font-medium">Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block banner %}{% endblock %}
