@import "tailwindcss";
@plugin "daisyui";
@config "./../../tailwind.config.js";

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
/* Custom Scrollbar Styles */
.scrollbar-slim {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #bdbdbd42 transparent; /* For Firefox */
}

.scrollbar-slim::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-slim::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vh;
}

.scrollbar-slim::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 100vh;
}

.scrollbar-slim::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Dark mode styles */
.dark .scrollbar-slim {
  scrollbar-color: #475569 transparent; /* For Firefox */
}

.dark .scrollbar-slim::-webkit-scrollbar-thumb {
  background: #475569;
}

.dark .scrollbar-slim::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

@layer utilities {
  .custom-padding {
    padding: 10px;
  }

  @media (min-width: 640px) {
    .custom-padding {
      padding: 20px;
    }
  }
}

