* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    font-family: 'poppins';
}

.logo img {
    position: fixed;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 80px;
}

.back {
    position: fixed;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    left: 30px;
}

.back i {
    font-size: 25px;
    color: aliceblue;
    background: transparent;
}

.back:hover {
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: rgb(81, 80, 80);
    cursor: pointer;
}

.heading i {
    /* background-color: black; */
    margin-top: 40px;
    margin-left: 48%;
    /* width: 60px; */
    font-size: 40px;
}

.tool-name {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tool-name p {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-top: -19px;
}

.tool-desc {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.tool-desc p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-top: -9px;
}

.main-area {
    margin-top: 40px;
    margin-left: 20%;
    width: 60%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.upload {

    height: 100%;
    width: 100%;
}

.close-icon {
    /* display: none; */
    position: absolute;
    top: 175px;
    right: 765px;
    font-size: 24px;
    cursor: pointer;
    z-index: 9999;
    background: transparent;
    pointer-events: auto;
}

.drag-and-drop {
    border: 2px solid white;
    border-radius: 20px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.drag-and-drop:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.drag-and-drop i {
    display: block;
    font-size: 30px;
    margin-left: 120px;
}

.preview {
    /* position: absolute; */
    height: 70%;
    width: 100%;
    z-index: 2;
    top: 280px;
    left: 795px;
}

.generate {
    border: 1px solid white;
    height: 30px;
    width: 96%;
    border-radius: 1rem;
    padding: 10px;
    align-items: center;
    text-align: center;
    color: black;
    background-color: aliceblue;
    /* margin-left: 120px; */
    margin-top: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;
}

.generate i {
    font-size: 20px;
    margin-right: 10px;
    background-color: aliceblue;
    color: #1C1C1C;
}

.generate:hover {
    cursor: pointer;
    box-shadow: 0 4px 30px rgba(135, 206, 250, 0.7);
}

.grid {
    /* display: flex; */
    height: 100%;
    width: 100%;
    /* margin-top: -30px; */
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 20px;
    align-items: center;
}

.gridoptions {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
}

.optionname {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 25px;
}

.line {
    cursor: pointer;
    position: relative;
}

.line::after {
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #003366, #006699);
    position: absolute;
    left: 0px;
    top: 35px;
    transition: 0.3s;
}

.line:hover::after {
    width: 100%;
}

.selected::after {
    width: 60%;
}

.options-grid-ai {
    height: 85%;
    width: 90%;
    /* border: 2px solid white; */
    /* border-radius: 100px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    /* grid-gap: 40px; */
    grid-auto-rows: 170px;
    margin-top: 10px;
    /* margin-top: -90px;
    margin-left: 50px; */
    margin-left: 20px;
    overflow-y: scroll;
    scrollbar-width: 0px;
    scrollbar-color: black;
}

.options-grid-ai::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

.boxes {
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px 10px;
}

.boxes:hover {
    cursor: pointer;
}

.boxes video {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 70%;
    width: 100%;
}

.boxes p {
    height: 25%;
    background-color: #0c0c0c;
    /* font-size: 20px; */
    /* font-weight: 600; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-grid-normal {
    height: 85%;
    width: 90%;
    /* border: 2px solid white; */
    /* border-radius: 100px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    /* grid-gap: 40px; */
    grid-auto-rows: 170px;
    margin-top: 10px;
    /* margin-top: -90px;
        margin-left: 50px; */
    margin-left: 20px;
    overflow-y: scroll;
    scrollbar-width: 0px;
    scrollbar-color: black;
}

.options-grid-normal::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

.hidden {
    display: none;
}